<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>Controller.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechargeMoney</servlet-name>
        <servlet-class>Controller.RechargeMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>Controller.homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>Controller.Book_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chapter</servlet-name>
        <servlet-class>Controller.Chapter_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>Controller.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tag</servlet-name>
        <servlet-class>Controller.Tag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewbookbychaptercount</servlet-name>
        <servlet-class>Controller.Viewbookbychaptercount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookbyAuthor</servlet-name>
        <servlet-class>Controller.ViewBookbyAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>Controller.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepass</servlet-name>
        <servlet-class>Controller.Changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyListComic</servlet-name>
        <servlet-class>Controller.MyListComic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>Controller.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostBook</servlet-name>
        <servlet-class>Controller.PostBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>Controller.UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>Controller.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Managerchapter</servlet-name>
        <servlet-class>Controller.Managerchapter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addchapter</servlet-name>
        <servlet-class>Controller.Addchapter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listchapter</servlet-name>
        <servlet-class>Controller.Listchapter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editchapter</servlet-name>
        <servlet-class>Controller.Editchapter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletechapter</servlet-name>
        <servlet-class>Controller.Deletechapter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedBack</servlet-name>
        <servlet-class>Controller.SendFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalPay</servlet-name>
        <servlet-class>Controller.FinalPay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawMoney</servlet-name>
        <servlet-class>Controller.WithdrawMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithDraw</servlet-name>
        <servlet-class>Controller.WithDraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHistory</servlet-name>
        <servlet-class>Controller.TransactionHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechargeMoney</servlet-name>
        <url-pattern>/rechargemoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chapter</servlet-name>
        <url-pattern>/chapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tag</servlet-name>
        <url-pattern>/tag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewbookbychaptercount</servlet-name>
        <url-pattern>/bookchap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookbyAuthor</servlet-name>
        <url-pattern>/listbookauthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyListComic</servlet-name>
        <url-pattern>/mylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/deletebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostBook</servlet-name>
        <url-pattern>/postbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/updatebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/uploadimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Managerchapter</servlet-name>
        <url-pattern>/managerchapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addchapter</servlet-name>
        <url-pattern>/addchapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listchapter</servlet-name>
        <url-pattern>/listchapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editchapter</servlet-name>
        <url-pattern>/editchapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletechapter</servlet-name>
        <url-pattern>/deletechapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedBack</servlet-name>
        <url-pattern>/sendfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalPay</servlet-name>
        <url-pattern>/finalpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawMoney</servlet-name>
        <url-pattern>/withdrawmoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithDraw</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHistory</servlet-name>
        <url-pattern>/transactionhistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
